<div class=" flex justify-between mx-auto h-24">
    <div class="flex w-48 cursor-pointer" routerLink="/home">
        <img src="../../../../assets/imgs/logo.png"  width="auto" alt="logo">
    </div>
    <div class="flex justify-center items-center">
        <ul class="flex">
            <li class="mx-2 px-2 cursor-pointer">Set Up My Business</li>
            <li class="mx-2 px-2 cursor-pointer">Sign up</li>
            <li class="mx-2 px-2 cursor-pointer">Log in</li>
        </ul>
        
    </div>
</div>