
<mat-spinner *ngIf="!user" class="min-h-full min-w-full mx-auto"></mat-spinner>


<div *ngIf="user" class="p-12">
    <h1>Hi {{user.firstName}}</h1>

    <h3> Here's your forcast for the day</h3>

    <mat-divider></mat-divider>

    <div class="grid grid-cols-3 gap-8 p-8">
        <div>
            <mat-card>
                <div class="flex justify-between">
                    <div class="flex flex-col">
                        <h1 class="text-6xl">{{pendingCount()}}</h1>
                        <p>Pending Appointments</p>
                    </div>
                    <div class="pl-4 flex items-center">
                        <object data="../../../assets/imgs/calendar.svg" width="75" height="75"></object>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <mat-card-actions>
                    <div class="flex justify-center p-2">
                        View All
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>

        <div>
            <mat-card>
                <div class="flex justify-between">
                    <div class="flex flex-col">
                        <h1 class="text-6xl">{{upcomingCount()}}</h1>
                        <p>Upcoming Appointments</p>
                    </div>
                    <div class="pl-4 flex items-center">
                        <object data="../../../assets/imgs/confirmed.svg" width="75" height="75"></object>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <mat-card-actions>
                    <div class="flex justify-center p-2">
                        View All
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>

        <div>
            <mat-card>
                <div class="flex justify-between">
                    <div class="flex flex-col">
                        <h1 class="text-6xl">6</h1>
                        <p>Reviews</p>
                    </div>
                    <div class="pl-4 flex items-center">
                        <object data="../../../assets/imgs/message.svg" width="75" height="75"></object>
                    </div>
                </div>
                <mat-divider></mat-divider>
                <mat-card-actions>
                    <div class="flex justify-center p-2">
                        View All
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>

    </div>
</div>