.banner{

    background-color: #000;
    background-image: url(/assets/imgs/banners/banner.jpg);
    background-repeat: no-repeat;
    background-position-x: 310px;
    background-size: cover;
    background-position-y: center;

}