<div class=" bg-[#f6f6f6]">
    <div class="w-4/5 mx-auto">
        <app-web-navbar></app-web-navbar>
        <app-web-banner></app-web-banner>
    </div>
</div>
<div class="bg-[#f6f6f6]">
    <div class="flex flex-col w-4/5 mx-auto">
        <div>
            <div class="flex justify-center items-center">
                <h1 class="text-3xl py-8">Find professionals by service</h1>
            </div>
            <div class="grid grid-cols-5 gap-4">
                <div class="max-w-sm  overflow-hidden shadow-lg cursor-pointer">
                    <div class="h-96">
                        <img class="w-full h-full object-cover"
                            src="../../../../assets/imgs/001a4a17efdd08e0b673d37f6af1cb65.jpg" alt="braids">
                    </div>
                    <div class="h-14 py-4 border-2 border-black flex justify-center items-center">
                        <div class="text-xl ">BRAIDS</div>
                    </div>
                </div>
                <div class="max-w-sm  overflow-hidden shadow-lg cursor-pointer">
                    <div class="h-96">
                        <img class="w-full h-full object-cover"
                            src="../../../../assets/imgs/categories/natural-hair.jpg" alt="natural">
                    </div>
                    <div class="h-14 py-4 border-2 border-black flex justify-center items-center">
                        <div class="text-xl ">NATURAL HAIR</div>
                    </div>
                </div>
                <div class="max-w-sm  overflow-hidden shadow-lg cursor-pointer">
                    <div class="h-96">
                        <img class="w-full h-full object-cover"
                            src="../../../../assets/imgs/categories/women-haircut.jpg" alt="Haircut">
                    </div>
                    <div class="h-14 py-4 border-2 border-black flex justify-center items-center">
                        <div class="text-xl ">HAIRCUT</div>
                    </div>
                </div>
                <div class="max-w-sm  overflow-hidden shadow-lg cursor-pointer">
                    <div class="h-96">
                        <img class="h-full object-cover w-full" src="../../../../assets/imgs/categories/barbering.jpg"
                            alt="Men's Haircut">
                    </div>
                    <div class="h-14 py-4 border-2 border-black flex justify-center items-center">
                        <div class="text-xl ">MEN'S HAIRCUT</div>
                    </div>
                </div>
                <div class="max-w-sm  overflow-hidden shadow-lg cursor-pointer">
                    <div class="h-96">
                        <img class="h-full object-cover w-full" src="../../../../assets/imgs/categories/locs.jpg"
                            alt="Locs">
                    </div>
                    <div class="h-14 py-4 border-2 border-black flex justify-center items-center">
                        <div class="text-xl ">LOCS</div>
                    </div>
                </div>
                <div class="max-w-sm  overflow-hidden shadow-lg cursor-pointer">
                    <div class="h-96">
                        <img class="h-full object-cover w-full" src="../../../../assets/imgs/categories/silkpress.jpg"
                            alt="silk press">
                    </div>
                    <div class="h-14 py-4 border-2 border-black flex justify-center items-center">
                        <div class="text-xl ">SILK PRESS</div>
                    </div>
                </div>
                <div class="max-w-sm  overflow-hidden shadow-lg cursor-pointer">
                    <div class="h-96">
                        <img class="h-full object-cover w-full" src="../../../../assets/imgs/categories/weave.jpg"
                            alt="Weaves">
                    </div>
                    <div class="h-14 py-4 border-2 border-black flex justify-center items-center">
                        <div class="text-xl ">WEAVES</div>
                    </div>
                </div>
                <div class="max-w-sm  overflow-hidden shadow-lg cursor-pointer">
                    <div class="h-96">
                        <img class="h-full object-cover w-full" src="../../../../assets/imgs/categories/eyelashes.jpg"
                            alt="eyelashes">
                    </div>
                    <div class="h-14 py-4 border-2 border-black flex justify-center items-center">
                        <div class="text-xl ">EYELASHES</div>
                    </div>
                </div>
                <div class="max-w-sm  overflow-hidden shadow-lg cursor-pointer">
                    <div class="h-96">
                        <img class="h-full object-cover w-full" src="../../../../assets/imgs/categories/nails.jpg"
                            alt="Sunset in the mountains">
                    </div>
                    <div class="h-14 py-4 border-2 border-black flex justify-center items-center">
                        <div class="text-xl ">NAILS</div>
                    </div>
                </div>
                <div class="max-w-sm  overflow-hidden shadow-lg cursor-pointer">
                    <div class="h-96">
                        <img class="h-full object-cover w-full" src="../../../../assets/imgs/categories/eyebrows.jpg"
                            alt="Sunset in the mountains">
                    </div>
                    <div class="h-14 py-4 border-2 border-black flex justify-center items-center">
                        <div class="text-xl ">EYEBROWS</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-[#fdfcfd]">
    <div class="flex flex-col bg-[#fdfcfd] p-12 mx-auto w-4/5">
        <h1 class="text-center text-3xl">How it works</h1>
        <p class="text-center">Finding your next stylist is simple and easy</p>
        <div class="flex">
            <div class="w-1/3 flex justify-center flex-col items-center">
                <div class="h-32">
                    <img src="../../../../assets/imgs/icons8-search.gif" class="h-full w-full object-cover" alt="">
                </div>
                <div class="flex flex-col justify-center items-center">
                    <h3>Search Professionals</h3>
                    <p class="text-center">Search through thousands of professionals on JustBooked for your next
                        appointment</p>
                </div>
            </div>
            <div class="w-1/3 flex justify-center flex-col items-center">
                <div class="h-32">
                    <img src="../../../../assets/imgs/icons8-chat-bubble.gif" class="h-full w-full object-cover" alt="">
                </div>
                <div class="flex flex-col justify-center items-center">
                    <h3>Book Your appointment</h3>
                    <p class="text-center">JustBooked makes it easy for you to book an appointment by showing you the
                        availabilty of your next service provider. With thousands of professionals, you can be
                        guaranteed to book an appointment at a time thats convenient to you</p>
                </div>
            </div>
            <div class="w-1/3 flex justify-center flex-col items-center">
                <div class="h-32">
                    <img src="../../../../assets/imgs/icons8-place-marker.gif" class="h-full w-full object-cover"
                        alt="">
                </div>
                <div class="flex flex-col justify-center items-center">
                    <h3>Enjoy</h3>
                    <p class="text-center">Show up and enjoy your appointment, and get back to your busy schedule. No
                        waiting guaranteed</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bg-[#f6f6f6] ">
    <div class="flex flex-col py-8 mx-auto w-4/5">
        <h1 class="text-center text-3xl">Browse Professionals By Parish</h1>
        <div class="grid grid-cols-2 w-1/3 mx-auto">
            <div class="flex items-center justify-center p-4 border-b-2 border-gray-400 mx-2">Kingston</div>
            <div class="flex items-center justify-center p-4 border-b-2 border-gray-400 mx-2">St. Andrew</div>
            <div class="flex items-center justify-center p-4 border-b-2 border-gray-400 mx-2">Portland</div>
            <div class="flex items-center justify-center p-4 border-b-2 border-gray-400 mx-2">St. Thomas</div>
            <div class="flex items-center justify-center p-4 border-b-2 border-gray-400 mx-2">St. Catherine</div>
            <div class="flex items-center justify-center p-4 border-b-2 border-gray-400 mx-2">St. Mary</div>
            <div class="flex items-center justify-center p-4 border-b-2 border-gray-400 mx-2">St. Ann</div>
            <div class="flex items-center justify-center p-4 border-b-2 border-gray-400 mx-2">Manchester</div>
            <div class="flex items-center justify-center p-4 border-b-2 border-gray-400 mx-2">Clarendon</div>
            <div class="flex items-center justify-center p-4 border-b-2 border-gray-400 mx-2">Hanover</div>
            <div class="flex items-center justify-center p-4 border-b-2 border-gray-400 mx-2">Westmoreland</div>
            <div class="flex items-center justify-center p-4 border-b-2 border-gray-400 mx-2">St. James</div>
            <div class="flex items-center justify-center p-4 border-b-2 border-gray-400 mx-2">Trelawny</div>
            <div class="flex items-center justify-center p-4 border-b-2 border-gray-400 mx-2">St. Elizabeth</div>
        </div>
    </div>
</div>

<app-footer></app-footer>