<app-web-navbar></app-web-navbar>
<div class="w-4/5 mx-auto bg-[#f6f6f6]">
    <app-web-banner></app-web-banner>
    <div class="flex flex-col">
        <div>
            <div class="flex justify-center items-center">
                <h1>Find professionals by service</h1>
            </div>
            <div class="grid grid-cols-5 gap-4">
                <div class="max-w-sm  overflow-hidden shadow-lg">
                    <img class="w-full" src="../../../../assets/imgs/001a4a17efdd08e0b673d37f6af1cb65.jpg" alt="Sunset in the mountains">
                    <div class="h-14 py-4 border-2 border-black flex justify-center items-center">
                        <div class="text-xl ">Braids</div>
                    </div>
                </div>
                <div class="max-w-sm  overflow-hidden shadow-lg">
                    <img class="w-full" src="../../../../assets/imgs/001a4a17efdd08e0b673d37f6af1cb65.jpg" alt="Sunset in the mountains">
                    <div class="h-14 py-4 border-2 border-black flex justify-center items-center">
                        <div class="text-xl ">Braids</div>
                    </div>
                </div>
                <div class="max-w-sm  overflow-hidden shadow-lg">
                    <img class="w-full" src="../../../../assets/imgs/001a4a17efdd08e0b673d37f6af1cb65.jpg" alt="Sunset in the mountains">
                    <div class="h-14 py-4 border-2 border-black flex justify-center items-center">
                        <div class="text-xl ">Braids</div>
                    </div>
                </div>
                <div class="max-w-sm  overflow-hidden shadow-lg">
                    <img class="w-full" src="../../../../assets/imgs/001a4a17efdd08e0b673d37f6af1cb65.jpg" alt="Sunset in the mountains">
                    <div class="h-14 py-4 border-2 border-black flex justify-center items-center">
                        <div class="text-xl ">Braids</div>
                    </div>
                </div>
                <div class="max-w-sm  overflow-hidden shadow-lg">
                    <img class="w-full" src="../../../../assets/imgs/001a4a17efdd08e0b673d37f6af1cb65.jpg" alt="Sunset in the mountains">
                    <div class="h-14 py-4 border-2 border-black flex justify-center items-center">
                        <div class="text-xl ">Braids</div>
                    </div>
                </div>
                <div class="max-w-sm  overflow-hidden shadow-lg">
                    <img class="w-full" src="../../../../assets/imgs/001a4a17efdd08e0b673d37f6af1cb65.jpg" alt="Sunset in the mountains">
                    <div class="h-14 py-4 border-2 border-black flex justify-center items-center">
                        <div class="text-xl ">Braids</div>
                    </div>
                </div>
                <div class="max-w-sm  overflow-hidden shadow-lg">
                    <img class="w-full" src="../../../../assets/imgs/001a4a17efdd08e0b673d37f6af1cb65.jpg" alt="Sunset in the mountains">
                    <div class="h-14 py-4 border-2 border-black flex justify-center items-center">
                        <div class="text-xl ">Braids</div>
                    </div>
                </div><div class="max-w-sm  overflow-hidden shadow-lg">
                    <img class="w-full" src="../../../../assets/imgs/001a4a17efdd08e0b673d37f6af1cb65.jpg" alt="Sunset in the mountains">
                    <div class="h-14 py-4 border-2 border-black flex justify-center items-center">
                        <div class="text-xl ">Braids</div>
                    </div>
                </div>
                <div class="max-w-sm  overflow-hidden shadow-lg">
                    <img class="w-full" src="../../../../assets/imgs/001a4a17efdd08e0b673d37f6af1cb65.jpg" alt="Sunset in the mountains">
                    <div class="h-14 py-4 border-2 border-black flex justify-center items-center">
                        <div class="text-xl ">Braids</div>
                    </div>
                </div>
                <div class="max-w-sm  overflow-hidden shadow-lg">
                    <img class="w-full" src="../../../../assets/imgs/001a4a17efdd08e0b673d37f6af1cb65.jpg" alt="Sunset in the mountains">
                    <div class="h-14 py-4 border-2 border-black flex justify-center items-center">
                        <div class="text-xl ">Braids</div>
                    </div>
                </div>
            </div>  
        </div>
        <div>
            <div class="flex flex-col bg-[#fdfcfd] py-12">
                <h1 class="text-center">How it works</h1>
                <p class="text-center">Finding your next stylist is simple and easy</p>
                <div class="flex">
                    <div class="w-1/3 flex justify-center flex-col items-center">
                        <div>
                            <img src="../../../../assets/imgs/icons8-search.gif" class="w-[128px]" alt="">
                        </div>
                        <div class="flex flex-col justify-center items-center">
                            <h3>Search Professionals</h3>
                            <p class="text-center">Search through thousands of professionals on JustBooked for your next appointment</p>
                        </div>
                    </div>
                    <div class="w-1/3 flex justify-center flex-col items-center">
                        <div>
                            <img src="../../../../assets/imgs/icons8-chat-bubble.gif" class="w-[128px]" alt="">
                        </div>
                        <div class="flex flex-col justify-center items-center">
                            <h3>Book Your appointment</h3>
                            <p class="text-center">JustBooked makes it easy for you to book an appointment by showing you the availabilty of your next service provider. With thousands of professionals, you can be guaranteed to book an appointment at a time thats convenient to you</p>
                        </div>
                    </div>
                    <div class="w-1/3 flex justify-center flex-col items-center">
                        <div>
                            <img src="../../../../assets/imgs/icons8-place-marker.gif" class="w-[128px]" alt="">
                        </div>
                        <div class="flex flex-col justify-center items-center">
                            <h3>Enjoy</h3>
                            <p class="text-center">Show up and enjoy your appointment, and get back to your busy schedule. No waiting guaranteed</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="flex flex-col">
                <h1 class="text-center">Browse Professionals By Parish</h1>
                <div class="grid grid-cols-2 w-1/3 mx-auto">
                    <div class="flex items-center justify-center p-4 border-b-2 border-gray-400 mx-2">Kingston</div>
                    <div class="flex items-center justify-center p-4 border-b-2 border-gray-400 mx-2">St. Andrew</div>
                    <div class="flex items-center justify-center p-4 border-b-2 border-gray-400 mx-2">Portland</div>
                    <div class="flex items-center justify-center p-4 border-b-2 border-gray-400 mx-2">St. Thomas</div>
                    <div class="flex items-center justify-center p-4 border-b-2 border-gray-400 mx-2">St. Catherine</div>
                    <div class="flex items-center justify-center p-4 border-b-2 border-gray-400 mx-2">St. Mary</div>
                    <div class="flex items-center justify-center p-4 border-b-2 border-gray-400 mx-2">St. Ann</div>
                    <div class="flex items-center justify-center p-4 border-b-2 border-gray-400 mx-2">Manchester</div>
                    <div class="flex items-center justify-center p-4 border-b-2 border-gray-400 mx-2">Clarendon</div>
                    <div class="flex items-center justify-center p-4 border-b-2 border-gray-400 mx-2">Hanover</div>
                    <div class="flex items-center justify-center p-4 border-b-2 border-gray-400 mx-2">Westmoreland</div>
                    <div class="flex items-center justify-center p-4 border-b-2 border-gray-400 mx-2">St. James</div>
                    <div class="flex items-center justify-center p-4 border-b-2 border-gray-400 mx-2">Trelawny</div>
                    <div class="flex items-center justify-center p-4 border-b-2 border-gray-400 mx-2">St. Elizabeth</div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>