<div class="w-4/5 mx-auto">
    <div>
        <app-web-navbar></app-web-navbar>
    </div>
</div>
<!-- Slider here 
    <div>

</div> -->
<div class="w-2/3 mx-auto">
    <div class="flex justify-center">
        <div class="grid grid-cols-2 gap-4">
            <div class="flex flex-col">
                <div class="flex ">
                    <div>
                        <img src="https://img.freepik.com/free-photo/close-up-portrait-dark-skinned-woman-with-natural-curly-hair-clean-healthy-skin-smiles-broadly-expresses-happiness-has-perfect-white-teeth-wears-casual-clothes-isolated-blue-wall_273609-49802.jpg"
                            alt="" class="w-48 h-48">
                    </div>
                    <div class="flex flex-col">
                        <h1>Provider Name</h1>
                        <p>Profession</p>
                        <p>Business Name</p>
                    </div>
                </div>
                <div class="border-b-2 border-black">
                    <h1>Services</h1>
                </div>
                <div class="flex">
                    <div>
                        <h2>Service Name</h2>
                        <p>Price for time</p>
                        <p>description. Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto accusamus nobis
                            incidunt ea magni assumenda inventore at doloribus itaque fugiat nam, sit architecto alias
                            repellat dignissimos nisi minus asperiores porro.</p>
                    </div>
                    <div class="flex justify-center items-center">
                        <button>
                            Make Appointment
                        </button>
                    </div>
                </div>
            </div>
            <div class="flex flex-col">
                <div class="grid grid-cols-3 gap-1 border-b-2 border-gray-400">
                    <img src="https://img.freepik.com/free-photo/close-up-portrait-dark-skinned-woman-with-natural-curly-hair-clean-healthy-skin-smiles-broadly-expresses-happiness-has-perfect-white-teeth-wears-casual-clothes-isolated-blue-wall_273609-49802.jpg"
                        alt="">
                    <img src="https://img.freepik.com/free-photo/close-up-portrait-dark-skinned-woman-with-natural-curly-hair-clean-healthy-skin-smiles-broadly-expresses-happiness-has-perfect-white-teeth-wears-casual-clothes-isolated-blue-wall_273609-49802.jpg"
                        alt="">
                    <img src="https://img.freepik.com/free-photo/close-up-portrait-dark-skinned-woman-with-natural-curly-hair-clean-healthy-skin-smiles-broadly-expresses-happiness-has-perfect-white-teeth-wears-casual-clothes-isolated-blue-wall_273609-49802.jpg"
                        alt="">
                    <img src="https://img.freepik.com/free-photo/close-up-portrait-dark-skinned-woman-with-natural-curly-hair-clean-healthy-skin-smiles-broadly-expresses-happiness-has-perfect-white-teeth-wears-casual-clothes-isolated-blue-wall_273609-49802.jpg"
                        alt="">
                    <img src="https://img.freepik.com/free-photo/close-up-portrait-dark-skinned-woman-with-natural-curly-hair-clean-healthy-skin-smiles-broadly-expresses-happiness-has-perfect-white-teeth-wears-casual-clothes-isolated-blue-wall_273609-49802.jpg"
                        alt="">
                    <img src="https://img.freepik.com/free-photo/close-up-portrait-dark-skinned-woman-with-natural-curly-hair-clean-healthy-skin-smiles-broadly-expresses-happiness-has-perfect-white-teeth-wears-casual-clothes-isolated-blue-wall_273609-49802.jpg"
                        alt="">
                </div>
                <div class="border-b-2 border-gray-400 flex flex-col justify-center items-center">
                    <h2>Provider Name</h2>
                    <p>Address Line 1</p>
                    <p>Address Line 2</p>
                    <p>Town, Parish</p>
                </div>
                <div class="border-b-2 border-gray-400 flex flex-col justify-center items-center">
                    <h2>Business Hours</h2>
                    <p>Monday: Time - Time</p>
                    <p>Monday: Time - Time</p>
                    <p>Monday: Time - Time</p>
                    <p>Monday: Time - Time</p>
                    <p>Monday: Time - Time</p>
                    <p>Monday: Time - Time</p>
                    <p>Monday: Time - Time</p>
                </div>
                <div class="flex flex-col justify-center items-center">
                    <h2>Cancellation Policy</h2>
                    <p class="text-center">You will not be charged if you cancel at least 24 hours before your appointment starts. Otherwise, you will be charged 25% of service price for late cancellations and 50% for no shows.</p>
                </div>
            </div>
        </div>
    </div>
</div>